body {
  background-color: #CCCCCC;
}

hr {
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  border-color: #29A19C;
}

h1, h2 {
    color: #e25822;
}
